.container{
    background-color: aquamarine;
}

.titulo{
    font-style: italic;
}

.mensagemCifrar{
    background-color: gray;
    border-radius: 10px;
}

.limpar{
    background-color: gray;
    border-radius: 10px;
}